.skill-card {
  background: #161616;

  border: 1px solid #262626;

  border-radius: 18px;

  padding: 30px 20px;

  text-align: center;

  transition: .35s ease;

  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-8px);

  border-color: #dc2626;

  box-shadow: 0 10px 30px rgba(220, 38, 38, .25);
}

.skill-icon {
  font-size: 3rem;

  color: #dc2626;

  margin-bottom: 18px;
}

.skill-card h3 {
  color: white;

  font-size: 1.1rem;

  margin-bottom: 10px;
}

.skill-card p {
  color: #9ca3af;

  font-size: .9rem;

  line-height: 1.5;
}