.hero-info {
  flex: 1;

  max-width: 600px;

  z-index: 2;
}

.hero-info span {
  color: #dc2626;

  font-size: 1.2rem;

  font-weight: 600;
}

.hero-info h2 {
  font-size: clamp(3rem, 5vw, 5rem);

  color: white;

  margin: 15px 0;
}

.hero-info h3 {
  color: #dc2626;

  margin-bottom: 20px;

  font-size: 1.5rem;
}

.hero-info p {
  color: #bdbdbd;

  line-height: 1.8;

  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;

  gap: 20px;

  flex-wrap: wrap;
}

.hero-buttons a,
.hero-buttons button {
  padding: 14px 34px;

  border-radius: 40px;

  border: 2px solid #dc2626;

  background: transparent;

  color: white;

  cursor: pointer;

  transition: .3s;
}

.hero-buttons a:hover,
.hero-buttons button:hover {
  background: #dc2626;
}