.contact {
  padding: 100px 0;
}

.contact-grid {
  display: grid;
  gap: 2rem;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(260px, 1fr)
    );

  margin-bottom: 3rem;
}

.contact-card {
  background: #151515;

  padding: 2rem;

  border-radius: 16px;

  text-align: center;

  transition: .3s;
}

.contact-card:hover {
  transform: translateY(-8px);
}

.contact-card h3 {
  color: #dc2626;

  margin-bottom: 1rem;
}

.contact-card p {
  color: #d1d5db;

  line-height: 1.6;
}

.contact-buttons {
  display: flex;

  justify-content: center;

  gap: 1rem;

  flex-wrap: wrap;
}

.contact-buttons a {
  padding: 14px 28px;

  border: 2px solid #dc2626;

  border-radius: 50px;

  color: white;

  text-decoration: none;

  transition: .3s;
}

.contact-buttons a:hover {
  background: #dc2626;
}